html{width:100%;height:100%}
h1{margin:0 .125em;position:absolute;pointer-events:none;color:#bbb}
body{width:100%;height:100%;font-family:Helvetica,Arial,sans-serif;font-size:14px;width:100%;height:100%;overflow:hidden}
#cy{position:absolute;left:0;top:0;bottom:0;right:0}